body{
  font-family: Arial, sans-serif;
  background:#FFFFFF;
  color:#000000;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
}

h1{
  color:#DC143C;
}

h2, h3, h4, h5, h6{
  color:#E9967A;
  font-size: 24px;
  margin-top: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

p{
  background: white;
  padding: 12px 14px;
  border-radius: 10px;
  text-align: justify;
  font-size: 18px;
  hyphens: auto;
}

strong, b{
  color:#E9967A;
}

img{
  max-width: 220px;
  height: auto;
  border-radius: 12px;
  margin: 12px 0;
}
